<div style="background-color: #fff2f2; padding: 20px; font-family: Arial, sans-serif;">
    <h2 style="margin: 0; padding: 15px; border-top-left-radius: 10px; border-top-right-radius: 10px; background: linear-gradient(101deg, rgba(0,185,10,1) 0%, rgba(11,9,121,1) 73%); color: #ffffff; text-align: center;">
        Reset Your Password
    </h2>
    <div style="margin: 0; padding: 20px; background-color: #2a2a2a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; color: #f0f0f0;">
        <p style=" color: #f0f0f0;">Hi {{ user.name }},</p>
        <p style="color: #f0f0f0;">You requested a password change. To complete the request, click the button below.</p>

        <h3 style="color: rgba(0,185,10,1);">Click the button below to reset your password:</h3>

        <a href="{{ frontend_url }}password-reset/{{token}}" style="display: inline-block; border: 0; color: #ffffff; background-color: rgba(0,185,10,1); padding: 15px 25px; font-weight: bold; text-decoration: none; border-radius: 5px; text-align: center;">
            Reset Password
        </a>

        <h3 style="margin-top: 20px;color: rgba(0,185,10,1)">Or copy and paste the following link in your browser:</h3>
        <p style="word-break: break-word; color: #cccccc;">{{ frontend_url }}password-reset/{{token}}</p>

        <p style="margin-top: 30px; color: #888888;">You're welcome &#128511; </p>
    </div>
</div>